# non-dot files
/[^.]*

# Don't include files with sensitive data
/.zshrc-secrets

# iJunk
.MacOSX
.Trash

# ZSH junk
/.zcompdump*
/.zsh-update

# Python virtual envs
/.virtualenvs

# Ruby virtual envs
/.rvm

# History files
/.*history

# Dotfiles
/.*-dropbox-token
/.ackrc
/.adobe
/.alvzfmtrc
/.android
/.appcfg_cookies
/.appcfg_nag
/.ascii.io
/.autoenv
/.autoenv_authorized
/.autoenv_authorized.tmp
/.belastingdienst.nl
/.bi_li3
/.bower
/.bzr.log
/.cache
/.CFUserTextEncoding
/.chef
/.config
/.cups
/.dbshell
/.direnvrc
/.dropbox
/.dropbox-master
/.dvdcss
/*Drobo*
/.emacs.d
/.fontconfig
/.ftcurlish.json
/.gem
/.gh-credentials
/.gist
/.gist-vim
/.gitconfig
/.gitk
/.gnupg
/.grc
/.heroku
/.ipython
/.irssi
/.js
/.lein
/.lesshst
/.m2
/.matplotlib
/.mitmproxy
/.msgsrc
/.netrc
/.njxnqxgn
/.npm
/.oh-my-zsh
/.pip
/.pip-accel
/.pip-tools
/.profile
/.pylint.d
/.pypirc
/.python-eggs
/.pythonhist
/.pythonrc.py
/.pythonz
/.resty
/.ri
/.rnd
/.s3cfg
/.srl
/.ssh
/.subversion
/.tmux.conf
/.tox
/.ttytterkey
/.vagrant.d
/.vim*
/.Xauthority
/.XcodeDefaultPerspective.mode1v3
/.z*

# Directories
Projects

# Vim generated documentation
/doc/tags

# Powerline-specific cruft that isn't ignored in their own plugin
Powerline_*.cache
