# non-dot files
/[^.]*
!/bin

# Don't include files with sensitive data
/.zshrc-secrets

# iJunk
.DS_Store
.MacOSX
.Trash

# Node stuff
/.v8flags.*

# ZSH junk
/.zcompdump*
/.zsh-update

# Python virtual envs
/.virtualenvs

# Ruby virtual envs
/.rvm

# History files
/.*history

# Dotfiles
/*Drobo*
/.*-dropbox-token
/.ackrc
/.adobe
/.alvzfmtrc
/.android
/.ansible/
/.ansible_galaxy
/.ansible_roles/
/.appcfg_cookies
/.appcfg_nag
/.ascii.io
/.atom/
/.autoenv
/.autoenv_authorized
/.autoenv_authorized.tmp
/.aws/
/.babel.json
/.belastingdienst.nl
/.bi_li3
/.bower
/.bundle
/.bup
/.bzr.log
/.cache
/.cargo
/.cassandra
/.CFUserTextEncoding
/.chef
/.config
/.cookiecutters
/.cups
/.dbshell
/.devpi
/.direnvrc
/.docker/
/.dropbox
/.dropbox-master
/.dts/
/.dvdcss
/.eaglerc
/.elm
/.emacs.d
/.eslint_d
/.flow-typed/
/.fontconfig
/.ftcurlish.json
/.gem
/.gh-credentials
/.gist
/.gist-vim
/.gitconfig
/.gitk
/.gnupg
/.grc
/.heroku
/.httpie
/.ipython
/.irssi
/.iterm2
/.js
/.jupyter/
/.keybase-installer
/.lein
/.lesshst
/.local
/.locks
/.m2
/.matplotlib
/.mitmproxy
/.mongorc.js
/.msgsrc
/.my.cnf
/.netrc
/.ngrok/
/.ngrok2/
/.njxnqxgn
/.node-gyp/
/.npm
/.npmrc
/.oh-my-zsh
/.parallel
/.pip
/.pip-accel
/.pip-tools
/.pkg-cache
/.pm2/
/.pre-commit/
/.profile
/.pyenv/
/.pylint.d
/.pypirc
/.python-eggs
/.pythonhist
/.pythonrc.py
/.pythonz
/.rbenv
/.resty
/.ri
/.rnd
/.rustup
/.s3cfg
/.srl
/.ssh
/.subversion
/.tmux.conf
/.tox
/.tsd-cache/
/.ttytterkey
/.vagrant.d
/.vim*
/.volta/
/.vscode/
/.wget-hsts
/.Xauthority
/.XcodeDefaultPerspective.mode1v3
/.yarn*
/.yesgraph-*
/.z*

# Directories
Projects

# Vim generated documentation
/doc/tags

# Powerline-specific cruft that isn't ignored in their own plugin
Powerline_*.cache

# Postgres stuff
/.pg*
